.text {
  color: red;
}
.click {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.click:hover {
  background-color: red;
  transform: scale(05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
